<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Hola usuario <span th:text="${usuarioSesion.getEmail()}"></span>!!!</div>
<!--<div th:if="${message}">
    <span th:text="${message}"></span>
</div>-->
<div>Users List</div>
<table class="table table-dark">
    <thead>
    <tr>
        <th>Username</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usuarios}">
        <td th:text="${user.getEmail()}"></td>
        <td><a class="badge badge-primary" th:href="@{/usuarios/delete/{id}(id=${user.id})}">Eliminar</a></td>
    </tr>
    </tbody>
</table>
<a class="badge badge-primary" th:href="@{/user/new}">New User</a>
</body>
</html>