<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/templateRegistroUsuario/styles.css">
</head>
<body>
<div><h1>Hola <span th:text="${usuarioSesion.getEmail()}"</h1>></span>!</div>
<div th:if="${message}">
    <span th:text="${message}"></span>
</div>
<div>Lista de usuarios
<table class="table table-dark">
    <thead>
    <tr>
        <th>Username</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usuarios}">
        <td th:text="${user.getEmail()}"></td>
        <td><a class="badge badge-primary" th:href="@{/usuarios/delete/{id}(id=${user.id})}">Eliminar</a></td>
    </tr>
    </tbody>
</table>
<a class="badge badge-primary" th:href="@{/usuarios/new}">Agregar nuevo usuario</a>
</div>
<div>
    <form action="#" th:action="@{/logout}" th:method="POST">

        <input  type="submit" value="logout"/>
    </form>
</div>
</body>
</html>