<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div><h1>Hola <span th:text="${usuarioSesion.getEmail()}"</h1>></span>!</div>
<div class="mensaje"    th:if="${message}">
    <span th:text="${message}"></span>
</div>
<div><h2>Lista de usuarios</h2>
<table class="table table-dark tablita">
    <thead>
    <tr>
        <th> <p>Nombre de usuario</p></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usuarios}">
        <td th:text="${user.getEmail()}"></td>
        <td><a class="badge badge-primary" th:href="@{/usuarios/delete/{id}(id=${user.id})}">Eliminar</a></td>
    </tr>
    </tbody>
</table>
    <br>
    <br>
<a class="badge badge-primary" th:href="@{/usuarios/new}">Agregar nuevo usuario</a>
</div>
<div style="display: block;horiz-align: right;">
    <br>
    <br>
    <form action="#" th:action="@{/logout}" th:method="post">
        <input class="boton" type="submit" value="Cerrar sesión" />
    </form>
</div>
</body>
</html>