<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/templateRegistroUsuario/styles.css">
</head>
<body>
<div>Nuevo Usuario</div>
<form action="#" th:action="@{/usuarios}" th:object="${usuario}" method="post">
  <input type="text" th:field="*{email}" placeholder="email" required/>
  <br>
  <br>
  <input type="password" th:field="*{password}" placeholder="contraseña" required/>
  <br>
  <br>
  <input type="text" th:field="*{nombre}" placeholder="nombre" required/>
  <br>
  <br>
  <input type="text" th:field="*{apellido}" placeholder="apellido" required/>
  <br>
  <br>

  <button type="submit" name="newUser">Crear</button>
</form>

</body>
</html>